<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FinanceTracker</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="/images/main.png" style="width: 27px; height: 27px; margin-right: 8px;" />
                <strong style="font-size: 17px;">Home</strong>
            </NavLink>
            <NavLink class="nav-link" href="/transaction-types">
                <img src="/images/transactionType.png" style="width: 29px; height: 29px; margin-right: 8px;" />
                <strong style="font-size: 17px;">Transaction Types</strong>
            </NavLink>
            <NavLink class="nav-link" href="/transactions">
                <img src="/images/transactions.png" style="width: 26px; height: 26px; margin-right: 8px;" />
                <strong style="font-size: 17px;">Transaction</strong>
            </NavLink>
            <NavLink class="nav-link" href="/daily-report">
                <img src="/images/dailyReport.png" style="width: 27px; height: 27px; margin-right: 8px;" />
                <strong style="font-size: 17px;">Daily report</strong>
            </NavLink>
            <NavLink class="nav-link" href="/date-period">
                <img src="/images/datePeriod.png" style="width: 27px; height: 27px; margin-right: 8px;" />
                <strong style="font-size: 17px;">Date period</strong>
            </NavLink>
        </div>
    </nav>
</div>

